.DS_Store

frontend/node_modules
frontend/.next
frontend/package-lock.json
frontend/yarn.lock
frontend/public/uploads

/backend/__pycache__
backend/data_mapping.json
backend/database

node_modules/
package-lock.json
package.json

backend/Miniconda3-latest-MacOSX-x86_64.sh